@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-axis-labels,
.highcharts-root,
.highcharts-axis,
.highcharts-axis-title,
.highcharts-legend-item,
.highcharts-tooltip text {
  @extend .govuk-body;
}

.highcharts-title {
  @extend .govuk-heading-m;
}

.highcharts-color {
  &-0 {
    fill: govuk-colour("dark-blue");
    stroke: govuk-colour("dark-blue");
  }
  &-1 {
    fill: govuk-colour("blue");
    stroke: govuk-colour("blue");
  }
  &-2 {
    fill: govuk-colour("light-blue");
    stroke: govuk-colour("light-blue");
  }
}