.tiptap {
  p {
    @extend .govuk-body;
  }

  ul {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }

  ol {
    @extend .govuk-list;
    @extend .govuk-list--number;
  }
}

.rich-text-editor-input,
.rich-text-editor-output {
  display: none;
}

.rich-text-editor-menubar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  background-color: $govuk-body-background-colour;
}

.rich-text-editor-menubar-group {
  display: flex;
  flex-direction: row;
}

.rich-text-editor-menubar-button {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid $govuk-input-border-colour;
  background-color: $govuk-body-background-colour;

  width: 2.5rem;
  height: 2.5rem;

  &:not(:first-child) {
    margin-left: -2px;
  }

  &__active {
    background-color: rgba($govuk-button-colour-blue, 0.5);
  }

  &:disabled {
    cursor: default;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    background-color: $govuk-focus-colour;
    box-shadow: 0 0 $govuk-focus-colour, 0 4px $govuk-input-border-colour;
  }
}

.ProseMirror {
  padding: 0.5rem;
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  background-color: $govuk-body-background-colour;

  &:focus {
    outline: 3px solid $govuk-focus-colour;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }
}
